:root {
  --background-color: #ffffff;
  --logo-color: #4d5ae5;
  --address-color: #434455;
  --hero-btn-color: #404bbf;
}

body {
  font-family: Roboto, sans-serif;
  background-color: var(--background-color);
  color: #434455;
}

/* ---------------------HEADER---------------------- */

.header {
}

.header-navigation {
}

.logo-link.link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-color);
  flex: none;
  order: 0;
  flex-grow: 0;
  text-decoration: none;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
  flex: none;
  order: 1;
  flex-grow: 0;
  line-height: 1.17;
}

.header-list {
  list-style: none;
}

.header-item {
}

.header-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration: none;
}

.header-link:hover,
.header-link:focus {
  color: #404bbf;
}

.header-address {
  font-style: normal;
  text-decoration: none;
}

.address-list {
  list-style: none;
}

.address-item {
}

.header-contact {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--address-color);
  text-decoration: none;
}

.header-contact:hover,
.header-contact:focus {
  color: #404bbf;
}

.header-contact {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--address-color);
  text-decoration: none;
}

.header-contact:hover,
.header-contact:focus {
  color: #404bbf;
}

/* ---------------------HERO---------------------- */

.hero {
  background-color: #2e2f42;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.hero-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  cursor: pointer;
  background-color: var(--hero-btn-color);
  color: #ffffff;
}

.hero-btn:hover,
.hero-btn:focus {
  color: var(--hero-btn-color);
}

/* ---------------------ADVANTAGES---------------------- */

.advantages {
}

.advantages-title {
  visibility: hidden;
}

.advantages-list {
}

.list {
}

.advantages-item {
}

.advantages-title-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.advantages-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* ---------------------PRODUCT---------------------- */

.product {
}
.product-title {
}
.product-list {
}
.list2 {
}
.product-item {
}
